nav {
  min-height: 5rem;
  background-color: rgb(142, 142, 147);
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

.nav-links > a {
  color: white;
  text-decoration: none;
}